<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ай Ти Пром Справочники</title>
    <style type="text/css">
        .selected {
            background-color: #cce6ff;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
</head>
<body>
<div id="app">
    <div>
        <table v-if="professions.length > 0">
            <thead>
            <tr>
                <th>Наименование</th><th>Примечание</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="profession in professions"
                style="cursor: pointer"
                v-bind:class="{selected: profession.selected}"
                v-on:click="selectItem">
                <td><b>{{profession.name}}</b></td>
                <td><i>{{profession.note}}</i></td>
            </tr>
            </tbody>
        </table>
        <div v-else>
            <span>(Пусто)</span>
        </div>
        <button v-on:click="openCreator">Добавить элемент</button>
        <button v-on:click="openEditor" v-if="selectedItemExists">Редактировать</button>
        <button v-on:click="deleteProfession" v-if="selectedItemExists">Удалить</button>
        <div v-if="editor">
            <div>
                <label for="edit-profession-name">Наименование:</label>
                <input id="edit-profession-name" type="text" v-model="editor.name">
            </div>
            <div>
                <label for="edit-profession-note">Примечание:</label>
                <input id="edit-profession-note" type="text" v-model="editor.note">
            </div>
            <button v-if="editor.status === 'create'" v-on:click="createProfession">Создать</button>
            <button v-if="editor.status === 'update'" v-on:click="updateProfession">Сохранить</button>
            <button v-on:click="closeEditor">Отмена</button>
        </div>
    </div>
</div>
<script src="professions.js"></script>
</body>
</html>